<!DOCTYPE html>
<html>
    <head>
        <title>Kontakt anzeigen</title>
    </head>
    <body>
        <h1>Neuer Kontakt:</h1>
        <p>
            <%= vorname %> <%= nachname%> 
        </p>
    </body>

</html>